/* External CSS for Simple Website */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}

header {
    background: #c5ed7b;
    color: rgb(100, 171, 217);
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: rgb(126, 121, 121);
    text-decoration: none;
    font-size: 18px;
}

section {
    background: rgb(164, 135, 230);
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 5 2px 6px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 15px;
    background: #333;
    color: white;
    margin-top: 20px;
}
